
<ion-nav-bar class="nav-title-slide-ios7 bar-energized">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-view name="tab-services"></ion-nav-view>
    <ion-nav-title>
        Services
    </ion-nav-title>
    <div class="bar bar-subheader">
        <h2 class="title">Services in the branch</h2>
    </div>
</ion-nav-bar>

<ion-nav-bar class="nav-title-slide-ios7 bar-energized">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-view name="tab-service"></ion-nav-view>
    <ion-nav-title>
        Service
    </ion-nav-title>
    <div class="bar bar-subheader">
        <h2 class="title">Service details</h2>
    </div>
</ion-nav-bar>

<ion-nav-bar class="nav-title-slide-ios7 bar-energized">
    <ion-nav-view name="tab-ticket"></ion-nav-view>
    <ion-nav-title>
        Ticket
    </ion-nav-title>
    <div class="bar bar-subheader">
        <h2 class="title">Your ticket</h2>
    </div>
</ion-nav-bar>

<ion-nav-bar class="nav-title-slide-ios7 bar-energized">
    <ion-nav-view name="tab-init"></ion-nav-view>
    <ion-nav-title>
        Init
    </ion-nav-title>
    <div class="bar bar-subheader">
        <h2 class="title">Wait</h2>
    </div>
</ion-nav-bar>

<ion-nav-bar class="nav-title-slide-ios7 bar-energized">
    <ion-nav-view name="tab-branches"></ion-nav-view>
    <ion-nav-title>
        Branches
    </ion-nav-title>
    <div class="bar bar-subheader">
        <h2 class="title">List of available branches</h2>
    </div>
</ion-nav-bar>




